body {
  font-family: "Manjari", sans-serif;
  font-family: "Tajawal", sans-serif;
  background-color: #f1f1f1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  max-width: 100%;
  margin: auto;
}
